@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header-content{
    width:95% ;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.logo{
    height: 150px;
}
.daa{
    display: flex;
    text-align: center;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.h1{
    
    text-align: center;
     
}
.daa{
    display: flex;
    
    width: 60%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.daa li {
    
    position: relative;
    color: rgb(32, 10, 230);
    
    
}
.daa li:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(4, 236, 74);
    transform-origin: bottom right;
    transition: transform 0.80s east-out;

}
.daa li:hover:after{

    transform: scale(1);
    transform-origin: bottom left;
}

.daa button{
    border: 3px;
    color: rgb(5, 18, 24);
    padding: 17px 30px;
    text-align: center;
    text-decoration: rgb(2, 14, 14);
    display: inline-block;
    font-size: 22px;
    margin: 7px 2px;
    cursor: pointer;
    animation-fill-mode: backwards;
}